<nav class="db dt-l w-100 border-box pa3 ph5-l divider-grey">
  <a class="db dtc-l v-mid mid-gray link dim w-100 w-10-l tc tl-l mb2 mb0-l" href="/" title="Home">
	<img src="/img/LolkeLogonew-1194x1068.jpg" alt="Kaldi logo" class="dib br-100"/>
  </a>
  <div class="db dtc-l v-mid w-100 w-90-l tc tr-l">
    <a href="/#services" class="link dim dark-gray f6 f5-l dib mr3 mr4-l">Services</a>
	<a href="/#values" class="link dim dark-gray f6 f5-l dib mr3 mr4-l">Values</a>
    <a href="/#contact" class="link dim dark-gray f6 f5-l dib mr3 mr4-l">Contact</a>
  </div>
</nav>